@{
    ViewBag.Title = "Адмін";
}

<ul class="nav nav-pills">
    <li>@Html.ActionLink("Протестувати з'єднання", "TestConnection", "Admin", null,new { @class = "btn btn-info", @style = "background-color:#f0ad4e" })</li>
    <li>@Html.ActionLink("Запустити парсинг", "Parse", "Admin", null,new { @class = "btn btn-info", @style = "background-color:#f0ad4e" })</li>
</ul>